/* credit: Soul @ https://discord.com/channels/1015060230222131221/1028106818368589824/1472419315771899924 */

/*---===< CHANNEL SELECTOR FADE AND HIGHLIGHTED ICONS by Soul >===---*/
.containerDefault_c69b6d.selected_c69b6d .link__2ea32 {
  background: var(--chs-channel-selected);
  border-radius: 8px;
  margin-left: 5px;
}

.modeUnreadImportant__2ea32 .icon__2ea32,
.containerDefault_c69b6d.selected_c69b6d .icon__2ea32,
.containerDefault_c69b6d:hover .icon__2ea32 {
  color: var(--chs-icon-hover) !important;
}

/* channel spacing */
.wrapper__2ea32 {
  padding-block: var(--chs-channel-spacing);
}

/* channel size*/
.link__2ea32,
#channels>ul>li.container__5b40b>ul>li>div>div {
  padding-block: var(--chs-channel-size);
}

/* channel icon scale */
.iconContainer__2ea32>svg[role="img"] {
  scale: var(--chs-icon-scale);
}

/* shift category labels left*/
.wrapper__29444 {
  padding-left: 8px !important;
}

/* dim channel name when collapsed */
.mainContent__29444[aria-expanded="false"] {
  opacity: 50% !important;
}
